# Folders
artifacts/
bin/
obj/
sql/
debug/
Release/
build/
packages/
.nuget/
.vs/
.vscode/
.terraform/
.vscode/
.idea/
.DS_Store/
.DS_Store

*.lock
*.tgz
*.zip
*.pem
*.pub
*.tfvars
*.jar
*.tfstate
*.tfbackup
*.lts
.project
.settings
.classpath
terraform.tfstate.backup

*.bak
*.v3.ncrunch*

# VS files
*.dbmdl
*.ncb
*.suo
*.vspscc
*.jfm
*.log

# Settings
*.dotCover
*.DotSettings
*.StyleCop
*.user
*.AssemblyInfo.cs

!packages/repositories.config